<header class="mx-auto max-w-1110 block fixed top-0 left-0 right-0 mt-6">

  <div class="flex justify-between items-center">
    <div class="flex items-center">
        <img 
        src="/assets/img/logo.png" 
        alt="logo" 
        class="mr-43">
    
      <nav class="">
        <ul class="flex w-444 justify-between">
          <li class=""><a href="#" class="">Features</a></li>
          <li class=""><a href="#" class="">About</a></li>
          <li class=""><a href="#" class="">Pricing</a></li>
          <li class=""><a href="#" class="">Blog</a></li>
          <li class=""><a href="#" class="">Contact Us</a></li>
        </ul>
      </nav>
    </div>
    
    
      <div class="">
        <button class="">Login</button>
        <button class="">Start Free Trial</button>
      </div>
  </div>

</header>


